body {
    background-color: #efefef;
    font-weight: bold;
    font-size:11px;
    line-height: 1.3;
    color: #3f4040;
}

div.col {
    padding-right: 0px;
    padding-left: 0px;
    border: 1px solid #dddddb;
}

.description {
    background-color: white;
}
.img {
     height:60%;
    vertical-align: middle;
    text-align: center;
}
.cena {
    height:20%;
    padding-top: 15px;
}
.nazov{
    height:20%;
}
body, html {
  height: 100%;
}

.col{
    display:flex;
    flex-direction:column;
    cursor: pointer;
}

.col:hover{
    background-color: #EBEAEA;
}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.img > img   {
    vertical-align:middle;
    width:232px;
    height:141px;
}
div.container {
    padding-right: 75px;
    padding-left: 75px;
}

div.col {
    border-color: grey;
    border-style: solid;
    background-color: white;
    box-shadow: 1px 4px 9px 0px rgba(0,0,0,0.75);
    margin: 3px 11px 3px 12px;
}
.nazov-produktu {
    align-content:center;
    padding: 16px 6px 4px 7px;
}
.cena-produktu{
    padding-left:7px;
}
.hide {
    visibility: hidden;
}
.popis{
    height:20%;
}
.popis-produktu {
    padding-left: 9px;
    padding-top: 7px;
    line-height: 1.1;
    font-size: 11px;
}
div.row {
    margin-right: -25px;
    margin-left: -25px;
}

.img-detail {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height:360px;
}
div.modal-lg {
    max-width: 80%;
}