body {
    background-color: #efefef;
    font-weight: bold;
    font-size:11px;
    line-height: 1.3;
    color: #3f4040;
}

.container {
    display:none;
}

.dalej{
    width: 120px;
    height: 42px;
    position:absolute;
    right:0;
    bottom: 0;
    display: none;
    /*background-color: #D9D8D8;*/
    background-color: black;
    text-align: center;
    color:white;
}

.dalej:hover {
    opacity: 0.9;
}

.dalej span{
    font-size: 25px;
}

div.col {
    padding-right: 0px;
    padding-left: 0px;
    border: 1px solid #dddddb;
}

.description {
    background-color: white;
}
.img {
    vertical-align: middle;
    text-align: center;
}
.cena {
    padding-top: 15px;
}
.nazov{
    display: flex;
    height: 20%;
}
body, html {
  height: 100%;
}

.col{
    display:flex;
    flex-direction:column;
    cursor: pointer;
    justify-content: center;
}

.col:hover{
    background-color: #EBEAEA;
}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.img > img   {
    vertical-align:middle;
    width:232px;
    height:141px;
}
div.container {
    padding-right: 75px;
    padding-left: 75px;
}

div.col {
    border-color: grey;
    border-style: solid;
    background-color: white;
    box-shadow: 1px 4px 9px 0px rgba(0,0,0,0.75);
    margin: 11px 11px 12px 12px;
}
.nazov-produktu {
    align-self:center;
    padding-left: 7px;
    padding-right: 7px;
    /*padding: 11px 6px 4px 7px;*/
}
.cena-produktu{
    padding-left:7px;
}
.hide {
    visibility: hidden;
}
.popis{
    display: flex;
    height: 20%;
}

.popis p {
    align-self: center;
    margin-bottom:0;
}
p {
    margin-bottom: 0;
}
.popis-produktu {
    font-weight: normal;
    padding-left: 7px;
    padding-right: 7px;
    line-height: 1.1;
    font-size: 11px;
}
div.row {
    margin-right: -25px;
    margin-left: -25px;
}

.img-detail {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height:360px;
}
div.modal-lg {
    max-width: 80%;
}

div.modal-body p {
    padding: 5px 18px;
    font-size: 17px;
}

li{
    float:left;
    width: 20%;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    padding: 25px 25px 10px 25px
}
ul{
    list-style-type: none;
    padding: 0 20px 0 0;
}

li span {
    margin-bottom:15px;
    display:block;
}
.cena-kupit {
    margin-top: -50px;
    height: 50px;
    padding: 0px 0px 12px 10px;
}


.cena-modal{
    width: 200px;
    height: 50px;
    background: rgba(0,0,0,0.85);
    float: left;
    text-align: center;
    line-height: 2.5;
    font-size: 20px;
    color:white;
    border-radius: 4px
}
.kupit:hover, a:hover{
    opacity: 1;
    text-decoration:none;
    color: white;
}

.kupit {
    background: #7bbc00;
    width: 200px;
    height:50px;
    text-align: center;
    line-height: 2.5;
    font-size: 20px;
    display: inline-block;
    color:white;
    cursor: pointer;
    border-radius: 4px;
    opacity: 0.9;

}